.filters {
	background-color: var(--muted-color-hover);
	border: 1px solid var(--muted-border-color);
	border-radius: 1rem;
	padding: var(--element-padding);
	gap: 2rem;

	& .filters-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		margin-bottom: 0.5rem;
	}

	& .col-xl {
		&:last-child {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}
